[submodule "themes/stack"]
	path = themes/stack
	url = https://github.com/CaiJimmy/hugo-theme-stack
[submodule "themes/cleanwhite"]
	path = themes/cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
