[build]
  command = "npm install && hugo --gc --minify && npm run encrypt"
  publish = "public"

[build.environment]
  HUGO_VERSION = "0.128.0"
  HUGO_ENV = "production"
  PASSWORD = "password123" # 或用 "$PASSWORD"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
